{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
  the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

<div id="content-wrapper">
  <main class="content" role="main" id="main">
    <div class="articles" id="masonry-container">
      {{! Each post will be output using this markup }}
      {{#foreach posts}}
        {{preprocess_post 'list'}}

        <article class="{{post_class}} preview">
          <a href="{{url}}" class="inner">

            <div class="post-content">
              <header class="post-header">
                <h2 class="post-title">{{{title}}}</h2>
                <span class="site-head-subinfo fa fa-clock-o"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMMM YYYY'}}</time></span>
              </header>
              {{featured_media}}
              <section class="post-excerpt">
                <p>{{abstract}}</p>
              </section>
              <footer class="post-footer">
                {{#if author}}<span class="post-author"><i class="fa fa-user"></i> {{author}}</span>{{/if}}
                {{#if tags}}<span class="post-tags"><i class="fa fa-tags"></i> {{tags separator=", " autolink="false"}}</span>{{/if}}
              </footer>
            </div>
          </a>
        </article>
      {{/foreach}}
    </div>

    {{!! After all the posts, we have the previous/next pagination links }}
    {{!-- <div class="pagination-container"> --}}
      {{!-- <i>fim</i> --}}
      {{pagination}}
    {{!-- </div> --}}
  </main>

  <footer id="site-footer">
    <div id="site-footer-content" class="inner">
      <div class="inner">
         <section class="poweredby">Elegantemente desenvolvido com <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
         <section class="copyright">Todos os direitos reservados &bull; <a href="http://www.taller.net.br">Taller</a> &copy; 2013</section>
      </div>
    </div>
  </footer>
</div>

{{!-- Masonry Scripts. --}}
<script src="assets/lib/masonry/dist/masonry.pkgd.min.js"></script>
<script src="assets/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>

<script>
  var container = document.querySelector('#masonry-container');
  var msnry;
  // Initialize Masonry after all images have loaded.
  imagesLoaded( container, function() {
    msnry = new Masonry( container, {
      itemSelector: '.preview',
      "isFitWidth": true
    } );
  });
</script>
