{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div id="site-head-content" class="inner">
        <h1 class="blog-title">{{@blog.title}}</h1>
        <div class="blog-description">{{@blog.description}}</div>
    </div>
</header>

<div id="content-wrapper">
    <main class="content" role="main" id="main">
        <div class="articles">
            {{! Each post will be output using this markup }}
            {{#foreach posts}}

            {{preprocess_post 'list'}}

            <article class="{{post_class}} preview">
                <a href="{{url}}" class="inner {{featured_media_cover}}" >
                    {{featured_media}}
                    <div class="post-content">
                        <header class="post-header">
                            <h2 class="post-title">{{{title}}}</h2>
                            <span class="site-head-subinfo fa fa-clock-o"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMMM YYYY'}}</time></span>
                        </header>
                        <section class="post-excerpt">
                            <p>{{excerpt}}&hellip;</p>
                        </section>
                        <footer class="post-footer">
                            {{#if author}}<span class="post-author"><i class="fa fa-user"></i> {{author}}</span>{{/if}}
                            {{#if tags}}<span class="post-tags"><i class="fa fa-tags"></i> {{tags separator=", "}}</span>{{/if}}
                        </footer>
                    </div>
                </a>
            </article>
            {{/foreach}}
        </div>

        {{!! After all the posts, we have the previous/next pagination links }}
        <div class="pagination-container">
            <i>fim</i>
        </div>
    </main>

    <footer id="site-footer">
        <div id="site-footer-content" class="inner">
            <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
                 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
            </div>
        </div>
    </footer>
</div>
