{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
  the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}}{{preprocess_post 'full'}}{{/post}}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="highlight-header post-header {{post.cover_classes}}" {{#if post.cover}}style='background-image: url("{{post.cover}}")'{{/if}} id="post-head">
  <div class="inner">
    <span class="site-head-subinfo"><time datetime="{{date post.published_at format="YYYY-MM-DD"}}">{{date post.published_at format='D MMMM YYYY'}}</time></span>
    <h1 class="post-title">{{{post.title}}}</h1>
    <div class="post-meta">
      {{#if post.author.isPerson}}
        {{#post.author}}
          <section class="author">
            por <h3 class="author-name">{{name}}</h3>
            {{#if image}}<img class="author-picture" src="{{image}}" alt="">{{/if}}
          </section>
        {{/post.author}}
      {{/if}}
    </div>
  </div>
</header>

<div id="content-wrapper">
  <main class="content" role="main" id="main">
    <article class="{{post_class}} post-full">

      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}

      <header class="article-head">
        <section id="post-meta">
          <div class="inner">
            <section class="meta">
              <span class="post-title">{{title}}</span>
              {{#if author}}
                <span class="post-author"><i class="fa fa-user"></i> <a href="#author">{{author}}</a></span>
              {{/if}}
              {{#if tags}}<span class="post-tags"><i class="fa fa-tags"></i> {{tags separator=", "}}</span>{{/if}}
            </section>

            <section class="share">
              <a class="fa fa-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
              </a>
              <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
              </a>
              <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                 onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
              </a>
            </section>
          </div>
        </section>
      </header>

      <section class="post-content inner">
        {{content}}
      </section>

      <footer class="post-footer">

        {{#if author}}
          <div id="author">
            <h4><span>Sobre o autor</span></h4>
            <section class="author">
              <div class="author-main-info" {{#if author.cover}}style="background-image: url({{author.cover}})"{{/if}}>
                {{#if author.image}}<img class="author-picture" src="{{author.image}}" alt="">{{/if}}
                <div>
                  <h3>{{author.name}}</h3>
                  {{#if author.bio}}<p>{{author.bio}}</p>{{/if}}
                </div>
              </div>
              <div class="author-secondary-info">
                {{#if author.website}}<span class="meta-website"><a href="{{author.website}}" title=""><i class="fa fa-globe"></i> {{author.website}}</a></span>{{/if}}
                {{#if author.email}}<span class="meta-email"><a href="mailto:{{author.email}}" title=""><i class="fa fa-envelope"></i> {{author.email}}</a></span>{{/if}}
              </div>
            </section>
          </div>
        {{/if}}

        <aside>
          <h4>Se você curtiu esse texto, provavelmente vai gostar destes aqui também:</h4>
          <ul class="related-posts"></ul>
        </aside>

        <section class="share footer-share">
          <a class="fa fa-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
          </a>
          <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
          </a>
          <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="hidden">Google+</span>
          </a>
        </section>
      </footer>

      {{/post}}
    </article>
  </main>

  <div class="disqus-container">
    <div class="disqus-container--inner">
      <h4><span>É nos comentários que o texto ganha vida. Deixe o seu:</span></h4>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'taller-blog'; // required: replace example with your forum shortname
        var disqus_developer = 1;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>

  <footer id="site-footer">
    <div id="site-footer-content" class="inner">
      <div class="inner">
         <section class="poweredby">
           <small>Elegantemente desenvolvido com <a class="icon-ghost" href="http://ghost.org">Ghost</a></small>
         </section>
         <section class="copyright">
          <small>
            Este blog está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons - Atribuição  4.0 Internacional</a>.
          </small>
          <br>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a>
         </section>
      </div>
    </div>
  </footer>
</div>
